{% extends 'polls/base.html' %}


{% load staticfiles %}


{% block content %}
    <div class="container">
      <div class="jumbotron">
        {% if latest_question_list %}
        <h1 align="center"><b><i>Опрос мнения</i></b></h1>
   		  <ul class="list-group">
   		    {% for question in latest_question_list %}
            <a href="{% url 'polls:detail' question.id %}"
               class="list-group-item">
               <b>{{ question.question_text }}</b></a>
            {% endfor %}
          </ul>
        {% else %}
          <p align="center"><b>Опросы не доступны.</b></p>
        {% endif %}

        <p align="justify">С бабочками мы часто встречаемся в природе и даже
            дома. Где бы мы ни были - в лесу, саду, на полях и лугах, они
            привлекают наше внимание с ранней весны до глубокой осени.</p>
      </div>
    </div>
{% endblock content %}