{% extends 'exhibition/base.html' %}


{% load staticfiles %}


{% block content %}
    <div class="container">
      <div class="jumbotron">
        <table border="0" width="100%">
          <tr valign="top">
            <td width="20%" colspan="2">
              <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="{{ now }}">
                <a href="{% url 'exhibition:list' %}"><b>Расписание выставок
                </b></a></li>
                <li role="presentation" class="{{ past }}">
                <a href="{% url 'exhibition:list_past' %}"><b>Выставки,
                  которые прошли</b></a></li>
              </ul>
            </td>

            <td width="5%"></td>
            
            <td width="75%">
              <h1><i><b>{{ title }}</b></i></h1>
              {% if now %}
                <p align="right"><a class="btn btn-primary btn-sm"
                                    href="{% url 'exhibition:create' %}"
                                    role="button">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                  Добавить новую выставку</a></p>
                {% if messages %}
                  <ul class="list-group">
                  {% for message in messages %}
                    <p class="list-group-item list-group-item-success">
                      {{ message }}</p>
                  {% endfor %}
                  </ul>
                {% endif %}
              {% endif %}
              {% if exhibitions %}
                {% for exhibition  in exhibitions %}
                  <h3><i><b><a href="{% url 'exhibition:detail' exhibition.id %}">
                    {{ exhibition.name }}</a></b></i></h3>
                  <p>{{ exhibition.date }}</p>
                  <p>{{ exhibition.short_description }}</p>
                  <hr>
                {% endfor %}
              {% else %}
                <p>В ближайшее время, выставки не планируются</p>
              {% endif %}
            </td>
          </tr>
        </table>
      </div>
    </div>
{% endblock content %}