{% extends 'collector/base.html' %}


{% block title %}{{ page_title }}{% endblock%}


{% load staticfiles %}


{% block content %}
    <div class="container">
      <div class="jumbotron">
        <h1 align="center"><i><b>{{ page_title }}</b></i></h1>

        {% if messages %}
          <ul class="list-group">
          {% for message in messages %}
            <p class="list-group-item list-group-item-success">
            <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
              {{ message }}</p>
          {% endfor %}
          </ul>
        {% endif %}

        {% if form.is_multipart %}
          <form enctype="multipart/form-data" method="post">
        {% else %}
          <form method="post" action="/foo/">
        {% endif %}
          {% csrf_token %}
          <fieldset>
          {{ form.as_p }}
          <input class="btn btn-primary" type="submit" value="Сохранить" />
          <a class="btn btn-default" href="{% url 'collector:list' %}"
             role="button">Отменить</a>
          </fieldset>
        </form>
      </div>
    </div>
{% endblock content %}