{% extends 'collector/base.html' %}


{% block title %}{{ page_title }}{% endblock%}


{% load staticfiles %}


{% block content %}
    <div class="container">
      <div class="jumbotron">
        <h1 align="center"><i><b>{{ page_title }}</b></i></h1>

        {% if messages %}
          <ul class="list-group">
          {% for message in messages %}
            <p class="list-group-item list-group-item-success">
            <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
              {{ message }}</p>
          {% endfor %}
          </ul>
        {% endif %}

        <form method="post">
          {% csrf_token %}
          <table border="0" width="100%">
          <tr valign="top">
            <td width="60%" colspan="2">
              <ul class="nav nav-pills nav-stacked">
          <h2><b>Основная информация:</b></h2>
            <div class="form-group">
              <label for="id_name">Имя:</label>
              <input id="id_name" class="form-control" maxlength="55"
                     name="name" type="text" value="{{ collector.name }}"
                     placeholder="Введите имя" />
            </div>
            <div class="form-group">
              <label for="id_surname">Фамилия:</label>
              <input id="id_surname" class="form-control" maxlength="55"
                     name="surname" type="text" value="{{ collector.surname }}"
                     placeholder="Введите фамилию" />
            </div>
            <div class="form-group">
              {{ field.errors }}
              <label for="id_date_of_birth">День Рождения:</label>
              <input id="id_date_of_birth" class="form-control"
                     name="date_of_birth" type="text"
                     value="{% if date_of_birth %}{{ collector.date_of_birth.year }}-{{ collector.date_of_birth.month }}-{{ collector.date_of_birth.day }}{% endif %}"
                     placeholder="гггг-мм-дд" />
            </div>

          <h2><b>Контактная информация:</b></h2>
          <div class="form-group">
            <label for="id_email">Email:</label>
            <input id="id_email" class="form-control" maxlength="75"
                   name="email" type="email" value="{{ collector.email }}"
                   placeholder="Введите Email" />
          </div>
          <div class="form-group">
            <label for="id_phone">Телефон:</label>
            <input id="id_phone" class="form-control" maxlength="15"
                   name="phone" type="text" value="{{ collector.phone }}"
                   placeholder="Введите номер телефона" />
          </div>
          <div class="form-group">
            <label for="id_address">Адрес:</label>
            <input id="id_address" class="form-control" maxlength="55"
                   name="address" type="text" value="{{ collector.address }}"
                   placeholder="Введите адрес" />
          </div>
          <div class="form-group">
            <label for="id_skype">Skype:</label>
            <input id="id_skype" class="form-control" maxlength="55"
                   name="skype" type="text" value="{{ collector.skype }}"
                   placeholder="Введите Skype" />
          </div>
              </ul>
            </td>

            <td width="10%"></td>

            <td width="30%">
            <div class="form-group">
              <label for="id_photo">Фотография:</label><br />
              {% if collector.photo.name %}
              Сейчас:<br /> <a href="{{ collector.photo.url }}">
                <img class="page_avatar_img" src="{{ collector.photo.url }}"
                   width="200" alt="..."></a><br />
                <input id="photo-clear_id" name="photo-clear" type="checkbox" />
                <label for="photo-clear_id">Удалить</label><br />
              {% else %}
              <a href="{% static 'images/user_photo.jpg' %}">
                <img class="media-object" src="{% static 'images/user_photo.jpg' %}"
                     width="200" alt="...">
              </a>
            {% endif %}
                Изменить: <input id="id_photo" name="photo" type="file" />
            </div>
            </td>
          </tr>
        </table>
          <input class="btn btn-primary" type="submit" value="Сохранить" />
          <a class="btn btn-default" href="{% url 'collector:list' %}"
             role="button">Отменить</a>
        </form>
      </div>
    </div>
{% endblock content %}