{% extends 'collector/base.html' %}


{% load staticfiles %}


{% block title %}{{ collector.surname }} {{ collector.name }}{% endblock%}


{% block content %}
    <div class="container">
      <div class="jumbotron">
        <h1 align="center"><i><b>{{ collector.surname }} {{ collector.name }}
        </b></i></h1>

        {% if messages %}
          <ul class="list-group">
          {% for message in messages %}
            <p class="list-group-item list-group-item-success">{{ message }}</p>
          {% endfor %}
          </ul>
        {% endif %}

        {% if request.user.is_authenticated %}
        <p align="right"><a class="btn btn-primary btn-sm"
                            href="{% url 'collector:edit' collector.id %}"
                            role="button">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Редактировать</a>
        <a class="btn btn-primary btn-sm"
           href="{% url 'collector:delete' collector.id %}" role="button">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Удалить</a></p>
        {% endif %}

        <div class="well well-large">
          <div class="media">
            <div class="media-left">
            {% if collector.photo.name %}
            <a href="{{ collector.photo.url }}">
              <img class="page_avatar_img" src="{{ collector.photo.url }}"
                   width="200" alt="...">
            </a>
            {% else %}
              <a href="{% static 'images/user_photo.jpg' %}">
                <img class="media-object" src="{% static 'images/user_photo.jpg' %}"
                     width="200" alt="...">
              </a>
            {% endif %}
            </div>
            <div class="media-body">
              <h2><b>Основная информация:</b></h2>
              <ul class="list-group">
                <p class="list-group-item"><b>День Рождения:</b> {{ collector.date_of_birth }}</p>
              </ul>
              <h2><b>Контактная информация:</b></h2>
              <ul class="list-group">
                <p class="list-group-item"><b>Моб. телефон:</b> {{ collector.phone }}</p>
                <p class="list-group-item"><b>Email:</b> {{ collector.email }}</p>
                {% if collector.skype %}
                  <p class="list-group-item"><b>Skype:</b> {{ collector.skype }}</p>
                {% endif %}
                {% if collector.address %}
                  <p class="list-group-item"><b>Адрес:</b> {{ collector.address }}</p>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
        {% if collections %}
          <h2><b>Kоллекции:</b></h2>
          {% for collection in collections %}
            <li><p><i>{{ collection.name }}</i></p></li>
            <p>{{ collection.description }}</p>
          {% endfor %}
        {% endif %}

        {% if request.user.is_authenticated %}
        <p align="right"><a class="btn btn-primary btn-sm"
                            href="{% url 'collector:add_collection' collector.id %}"
                            role="button">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          Добавить новую коллекцию</a></p>
        {% endif %}
      </div>
    </div>
{% endblock content %}
