{% extends 'base.html' %}


{% load staticfiles %}


{% block title %}Контакты{% endblock%}


{% block nav_class_contact %}active{% endblock%}


{% block content %}
    <div class="container">
      <div class="jumbotron">
        <h1><i><b>Наши контакты</b></i></h1>

        {% if messages %}
          <ul class="list-group">
          {% for message in messages %}
            <p class="list-group-item list-group-item-success">{{ message }}</p>
          {% endfor %}
          </ul>
        {% endif %}
        <div class="well well-large">
          <div class="media">
            <div class="media-left">
              <a href="{% static 'images/general_1.jpg' %}">
                <img class="media-object" src="{% static 'images/general_1.jpg' %}" width="200" alt="...">
              </a>
              
            </div>
            <div class="media-body">
              <ul class="list-group">
                <p class="list-group-item"><b>ФИО:</b> Смирнова Евгения</p>
                <p class="list-group-item"><b>Skype:</b> Zhenya1393</p>
                <p class="list-group-item"><b>Email:</b> ZhenyaSmirnova@ukr.net</p>
                <p class="list-group-item"><b>Телефон:</b> 099-404-5148</p>
              </ul>
            </div>
          </div>
        </div>

        <p align="right"><a class="btn btn-primary btn-sm" href="{% url 'feedback:new_message' %}" role="button">
        <span class="glyphicon glyphicon-send" aria-hidden="true"></span> Отправить сообщение администраторам</a></p>
        
      </div>
    </div>
{% endblock content %}